*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #401e4f;
    display: flex;
    text-align: center;
}
main{
    background-color: bisque;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0,0, 0.5);

}